.white-box2 {
  padding: 35px 30px 70px 30px;
  min-height: 500px;

  img {
    display: table;
    margin: 0 auto 30px auto;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
}