/*-----------------------------------
  MIXINS
-------------------------------------*/
$primary-color:#062659;
$secondary-color:#076fde;
$tertiary-color:#e4eff9;

$light-color:#f2f9ff;
$light-color2:#36acff;
$light-color3:#dde7ec;
$light-color4:#edf6ff;
$light-color5:#e2f1ff;
$light-color6:#e8f4ff;

$other-color1:#014b99;
$other-color2:#0b325d;


$default-font-color:#000;

$default-background-color:#fff;

$header-background-color:#062649;

$header-nav-menu-text-color:#FFF;
$header-nav-menu-text-hover-color:#ffff98;

$header-homepage-banner-text-color:#fff;

$submenu-bg:rgba(7, 111, 222, 0.8);

$header-bottom-area-mobile-outer-bg-color:#05203d;

$transparent-color1:rgba(0, 61, 125, 0.9);

